div{
    height: 35rem;
    width: 35rem;
    background-color: white;
    border-radius: 10px;
}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: aliceblue;
}
.example-full-width {
    width: 70%;
  }
.smallcontainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}