<section class="maincontainer">
    <form [formGroup]="bookForm" (ngSubmit)="addbook()" class="addbook">
        <div class="smallcontainer">
        <!-- <div class="innercontainer"> -->
            <h1>Add New book</h1>
       
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Book Title</mat-label>
                    <input matInput    formControlName="title">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Author</mat-label>
                    <input matInput   formControlName="author">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>genre</mat-label>
                    <input matInput    formControlName="genre">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Published Year</mat-label>
                    <input matInput   formControlName="publishedYear">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput   formControlName="description">
                  </mat-form-field>
                  <!-- <mat-slide-toggle formControlName="bestselling">Best selling</mat-slide-toggle> -->
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Book Image Link</mat-label>
                    <input matInput   formControlName="coverImageUrl">
                  </mat-form-field>
<!--             
              <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input formControlName="releaseYear" matInput [matDatepicker]="picker" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
              <!-- <h3>Censor Rating</h3> -->
<!--            
              <mat-form-field>
                <mat-label>Genres</mat-label>
                <mat-select formControlName="genres" multiple>
                  <mat-option *ngFor="let genre of genres" [value]="genre.value">{{
                    genre.label
                  }}</mat-option>
                </mat-select>
              </mat-form-field> -->
            
              <!-- <mat-selection-list formControlName="languages">
                <mat-list-option
                  *ngFor="let language of languages"
                  [value]="language.value"
                >
                  {{ language.label }}
                </mat-list-option>
              </mat-selection-list>
            
              <mat-form-field class="example-chip-list" appearance="outline">
                <mat-chip-grid #chipList>
                  <mat-chip-row
                    *ngFor="let name of cast.controls; let i = index"
                    (removed)="removeCastName(i)"
                  >
                    {{ name.value }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip-row>
                  <input
                    placeholder="New cast name..."
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addCastName($event)"
                  /> -->
                <!-- </mat-chip-grid>
              </mat-form-field> -->
                <!-- <input type="text"  > -->
                <!-- <label for="">rating</label>
                <input type="text" [(ngModel)]="rating">
                <label for="">poster</label>
                <input type="text" [(ngModel)]="poster">
                <label for="">summary</label>
                <input type="text" [(ngModel)]="summary"> -->
                
                <button type="submit" mat-raised-button color="primary">Add movie</button>
                <!-- 
                    <section>
                        
                        <app-profile *ngFor="let movi of moviesList; let i=index" [movie]="movi" [index]="i" (deleteMovie)="removeclr($event)"></app-profile>
                    </section> -->
                </div>
                </form>
</section>