<div
  class="book"
  [style]="color"
>
  <a
    href=""
    target="_blank"
    ><img
      class="thumbnail"
      src="{{book.volumeInfo.imageLinks.smallThumbnail}}"
      alt="cover"
  /></a>
  <div class="book-info">
    <h3 class="book-title">
      <a
        href="https://google.com/${book.title}"
        target="_blank"
        >{{book.title }}</a
      >
    </h3>
    <div class="book-authors" onclick='updateFilter(this,"author");'>
      {{book.authors}}
    </div>
    <div
      class="info"
      onclick='updateFilter(this,"subject");'
      style="background-color: #1ba34d40"
    >
      Fiction
    </div>
  </div>
</div>
