<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>hi</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="book.published_works[0].cover_art_url"
    alt="Photo of a Shiba Inu"
  /> -->
<!-- <mat-card-content>
    <p>{{book.summary}}</p>
  </mat-card-content> -->
<!-- <mat-card-title>{{ book.title }}</mat-card-title>
  <mat-card-actions>
    
    <ngx-star-rating [id]="'rating'" [disabled]="false"></ngx-star-rating>
  </mat-card-actions>
</mat-card> -->
<div
  class="book"
  [style]="color"
>
  <a
    href=""
    target="_blank"
    ><img
      class="thumbnail"
      src="{{book.coverImageUrl}}"
      alt="cover"
  /></a>
  <div class="book-info">
    <h3 class="book-title">
      <a
        href="https://google.com/${book.title}"
        target="_blank"
        >{{book.title }}</a
      >
    </h3>
    <div class="book-authors" onclick='updateFilter(this,"author");'>
      {{book.authors}}
    </div>
    <div
      class="info"
      onclick='updateFilter(this,"subject");'
      style="background-color: #1ba34d40"
    >
      Fiction
    </div>
  </div>
</div>
