.example-card {
    max-width: 20rem;
  }

  .book {
    display: flex;
    margin: 16px;
    padding: 32px;
    border-radius: 32px;
    flex: 1;
  
}
.book-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}


a {
    color: black;
    text-decoration: none;
}

.book-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 9rem;
}
.book-title {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    font-weight: 900;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.thumbnail {
    margin-right: 32px;
    border-radius: 16px;
    height: 13rem;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    transform: translate(0, -64px);
    animation: zoomin 0.5s;
}
