a{
    text-decoration: none;
}
header{
    margin-left: 15rem;
}
:root {
    --font-color: rgba(0, 0, 0, 0.9);
    --bg-color: #fff;
    --primary-color: rgba(0, 0, 0, 1);
    --secondary-color: rgba(0, 0, 0, 0.5);
    --light-bg-color: rgba(0, 0, 0, 0.1);
  }
  .booky{
    display: flex;
    width: 100%;

    flex-wrap: wrap;
  }
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15rem;
    gap: 2rem;
    padding: 1rem;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 32px;
    width: 13%;
    height: 100%;
    background-color: #fff;
    font-size: 14px;
    transition: all 0.2s;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: var(--light-bg-color);
    cursor: pointer;
    transition: all 0.2s;
  } 
  a {
    color: inherit;
    text-decoration: none;
  }
  
  a.link:hover,
  .book-authors:hover,
  .info:hover {
    color: var(--primary-color);
    transition: all 0.2s;
  }
  
  a[href^="https://www.google.com/?hl=en"]
  {
    display: none !important;
  }
  .rou{
    margin-left: 15rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  
  .logo {
    padding: 0 32px;
    font-weight: 900;
    font-size: 24px;
  }
  
  .subhead {
    padding: 32px;
    color: var(--secondary-color);
    font-weight: 600;
    transition: all 0.2s;
  }
  
  .nav {
    display: flex;
    margin: 8px 0;
    padding: 16px 32px;
    border-radius: 32px;
    background-color: var(--bg-color);
    font-weight: 600;
    transition: all 0.2s;
    align-items: center;
  }
  
  .nav .icon {
    margin-right: 16px;
  }
  
  .nav.current {
    background: var(--primary-color);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
    color: var(--bg-color);
  }
  
  .nav:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background-color: var(--light-bg-color);
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .slider:hover:before {
    background: var(--light-bg-color);
  }
  
  .slider:active:before {
    background: var(--light-bg-color);
  }
  
  .slider:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    content: "";
    transition: all 0.2s;
  }
  
  input:checked + .slider {
    background-color: var(--light-bg-color);
  }
  .results{
    position: relative;
  }
  .list-book {
    display: flex;
    padding: 32px 16px;
    width: 100%;
    flex-wrap: wrap;
}
  .category {
    display: flex;
    margin: 16px;
    height: 25vh;
    border-radius: 16px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: all 0.2s;
    align-items: center;
    flex: 1;
  }
  .category:nth-child(1) {
    background-color: #000000;
    background-image: url("src/assets/Bullseye-Gradient.svg");
  }
  
  .category:nth-child(2) {
    background-color: #ff66bb;
    background-image: url("src/assets/Cornered-Stairs.svg");
  }
  
  .category:nth-child(3) {
    background-color: #ff7700;
    background-image: url("src/assets/Flat-Mountains.svg");
  }
  
  .category:nth-child(4) {
    background-color: #ff0000;
    background-image: url("src/assets/Quantum-Gradient.svg");
  }
   