<mat-toolbar color="primary">
  <nav>
    <ul>
      <li><button mat-raised-button color="primary"  routerLink="/">Home</button></li>
      <li><button mat-raised-button color="primary"  routerLink="/book">book</button></li>
      <!-- <li><button mat-raised-button color="primary"   routerLink="/movies/add">Add Book</button></li> -->
      <!-- <li><button mat-raised-button  color="primary" routerLink="/movies">MaterialUi Movie</button></li> -->
    </ul>
  </nav>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
